/*
 * Ok... So what did we do here?
 * Nothing much honestly, we "expanded" Furo. I thought it was really a shame it wasn't using
 * the full place of the screen (Most especially for API docs), so the sidebar will now be mostly
 * present on the side and not take an enormeous place for nothing, and the docs's content will
 * take 80% of the screen now (Instead of a ridiculous 40% IMO).
 */

.sidebar-drawer {
    width: auto;
}

.content {
    width: auto;
}

.toc-drawer {
    display: flex;
    flex: none;
}

@media (max-width: 82em) {
    .toc-drawer {
        border-left: initial;
        height: initial;
        position: initial;
        right: initial;
        top: initial;
    }
}

@media (max-width: 52em) {
    .toc-drawer {
        border-left: 1px solid var(--color-background-muted);
        height: 100vh;
        position: fixed;
        right: -15em;
        top: 0;
    }
}
